.PlayDetail{
    color: White
}

.font-awesome{    
    color: rgb(100,20,100)
}


.add-songs{
    color: white;
}

.PlayList-list{
    color: white;
}

.description{
    font-style:italic;
    color: rgb(200,200,20)
}