<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cupcakes</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>Cupcakes</h1>

    <div class="cupcakes">

    </div>
    
    <h1>ADD NEW CUPCAKE</h1>
    <form id="new-cupcake" action="">
        <label for="flavor">Flavor:</label>
        <input type="text" id="flavor" name="flavor">
        <label for="size">Size:</label>
        <input type="text" id="size" name="size">
        <label for="rating">Rating:</label>
        <input type="text" name="rating" id="rating">
        <label for="image">Image:</label>
        <input type="text" name="image" id="image">
        <button type="submit">Submit</button>
    </form>

    
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/static/script.js"></script>
</body>
</html>

