<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}main page{% endblock %}</title>
</head>
<body>
    {% block content %}
    <h1>USERS</h1>
    <ul>
        {% for user in users %}
        <li><a href="/{{user.id}}">{{ user.first_name }} {{ user.last_name }}</a></li>
        {% endfor %}
    </ul>
    <form>
        <button formaction="/add-user">Add User</button>
        <button formaction="/tags">Tags</button>
    </form>
    {% endblock %}
</body>
</html>